.manageBooks {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.manageBookTitle {
    margin-top: -20px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}